// Sample Jade template:
doctype html
html(lang='en')
  head
    title!= title
  body
    h1 Jade - node template engine
    form(action='/news-list')
      label Выберите ресурс
        select(name='resource')
          option Yandex
          option Риа Новости
      label Выберите тему
        select(name='theme')
          option Спорт
          option Экономика
          option Политика
      button Показать
    #container